/* wy's css*/
.portlet  {
  clear: both;
  margin-top: 1px;
  margin-bottom: 25px;
  padding: 0px;
}
.portlet-body.green, .portlet.green {
  background-color: #35aa47 !important;
}
.portlet-body.blue, .portlet.blue {
  background-color: #439fe0 !important;
}

.portlet-title .caption {
  float: left;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 7px; 
}
.portlet-title .tools,
.portlet-title .actions
 {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-top: 6px;
  float: right;
}
.portlet.box {
   padding:0px !important;
   width: 1000px;
   margin-left:auto; 
   margin-right:auto;
}
.portlet.box.green {  
   border: 1px solid #77e588;
   border-top: 0;
}

.portlet.box.blue {  
   border: 1px solid #0066CC;
   border-top: 0;
}

.portlet-body {
  clear: both;  
  padding: 0;  
}
.portlet.box .portlet-title {  
   padding:8px 10px 2px 10px;
   /*border-bottom: 1px solid #eee;*/
   color: #fff !important;
}
.portlet.box .portlet-body {
  background-color: #fff;
  padding: 10px;
}
.portlet.box.green .portlet-title {
  background-color: #35aa47;
} 
.portlet.box.blue .portlet-title {
  background-color: #439fe0;
} 

.portlet.box .portlet-title {  
  margin-bottom: 0px;
}
.portlet.box .portlet-title .tools {
  margin-top: 3px;
}